// color names: http://chir.ag/projects/name-that-color
$tn-color-boulder: #797979;
$tn-color-concrete: #f2f2f2;
$tn-color-white: #ffffff;
$tn-color-beryl-green: #dbe8c6;
$tn-color-doger-blue: #1890FF;